{% extends 'cadastro/base.html' %}
{% block content %}
    {% for cadastro in cadastros %}
        <div class = 'post' >
            <h1><a href="{% url 'detalhe_cadastro' pk=cadastro.pk %}">{{ cadastro.restaurante }}</a></h1>
            <!-- <h1><a href="">{{ cadastro.nome }}</a></h1> -->
            <p>Capacidade Máxima: {{ cadastro.quantidade_pessoas }} pessoas</p>
            <p>Faturamento mensal: R$ {{ cadastro.faturamento | floatformat:2 }}</p>

            
        </div>
    {% endfor %}
{% endblock %}